html, body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    p { font-size: 3vmin; }
    h5 { font-size: 6vmin; }
    h4 { font-size: 3vmin; }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .headerMargin{
        // left: 50%;
        margin-top: 25px;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    .headerMargin{
        // left: 50%;
        margin-top: 25px;
    }
}


.specialCenter {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */

    /* optional size in px or %: */
    // width: 100px;
    // height: 100px;
}


// Code to Invert the Range Input
$track-w: 34.2em;
$track-h: .25em;
$thumb-d: 1.5em;
$track-c: #ccc;

$mover-w: 12.5em;
$ruler-w: 2px;
$ruler-u: .1*$mover-w;

@mixin track() {
    box-sizing: border-box;
    border: none;
    width: $track-w; height: $track-h;
    background: #ccc;
}

@mixin thumb() {
    box-sizing: border-box;
    border: none;
    width: $thumb-d; height: $thumb-d;
    border-radius: 50%;
    background: $track-c;
}

@mixin thumb-focus() { background: #138496; }

.wrap {
    float: left;
    position: relative;
    margin: 0 .5em .5em;
    padding: .5em;
    height: $track-w; width: $thumb-d;
}

[type='range'] {
    &, &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    position: absolute;
    top: 50%; left: 20%;
    margin: 0;
    padding: 0;
    width: $track-w; height: $thumb-d;
    transform: translate(-50%, -50%)
    rotate(-90deg);
    background:
    repeating-linear-gradient(90deg,
    $track-c 0,
    $track-c $ruler-w,
    transparent 0,
    transparent $ruler-u)
    calc(.5*(#{$thumb-d} - #{$ruler-w})) 1.25*$thumb-d/ calc(#{$mover-w} + #{$ruler-w}) .5*$thumb-d no-repeat;
    font: 1em/1 arial, sans-serif;

    &::-webkit-slider-runnable-track {
        @include track
    }
    &::-moz-range-track { @include track }
    &::-ms-track { @include track }

    &::-webkit-slider-thumb {
        margin-top: .5*($track-h - $thumb-d);
        @include thumb
    }
    &::-moz-range-thumb { @include thumb }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb
    }

    &::-ms-tooltip { display: none }

    ~ label {
        color: #333;

        span { color: $track-c }

        &:after { margin: -4px; content: ':' }
    }
}


.labels {
    position: absolute;
    bottom: 0; left: .3*$thumb-d;
    transform: translate(-50%, -50%)
    rotate(-90deg);

    span {
        position: absolute;
        left: calc(var(--i)*#{$ruler-u});
        transform: translate(-50%) scale(.9);
        font-weight: 700
    }
}
