<template name="instructions">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2><span>R</span>ede de <span>E</span>scolas</h2>
                <p class="title">
                    Este questionário pretende conhecer a sua opinião relativamente
                    aos critérios de planeamento da rede de escolas do primeiro ciclo
                    do ensino básico (1º CEB) e, particularmente, no equilíbrio que
                    se pretende entre custos e níveis de acessibilidade.
                </p>
                <p class="desc">

                    O questionário leva, em média, <b>8 minutos</b> a responder e foi desenvolvido
                    por uma equipa da Universidade de Aveiro, da Unidade de Investigação
                    em Governança, Competitividade e Políticas Públicas (GOVCOPP), no
                    âmbito de um trabalho académico.
                    <br>
                    As respostas são <b>anónimas e confidenciais.</b> O inquérito é divido em 3 partes: <br>
                    <ol>
                        <li>
                            Dados gerais;
                        </li>
                        <li>
                            Apresentação de cenários;
                        </li>
                        <li>
                            Manifestação de preferências.
                        </li>
                    </ol>
                    Agradecemos a participação!
                </p>

                <br>
                <form>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Eu declaro que li e compreendi
                            os termos acima e concordo em participar do inquérito.</label>
                        </div>
                        <br>
                        <a class="btn btn-info" href="/page1" role="button">Submeter</a>
                    </form>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <!-- <img src="images/signup-img.jpg" alt="" class="signup-img"> -->
    </template>

    <template name="imageInstructions">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <h1 class="text-center">Instruções para a próxima etapa</h1>

                    <p>Imagine que está a ser planeada uma rede de escolas do primeiro ciclo do
                        ensino básico e são propostas diferentes alternativas. Estas alternativas
                        têm diferentes custos, mas também proporcionam diferentes níveis de acessibilidade.</p>

                        <p>Que equilíbrio é que se pode estabelecer no longo prazo entre <b>custos</b> e
                            as <b>distâncias</b> a percorrer pelos alunos?</p>

                            <p>Para responder a esta questão, ser-lhe-ão colocados cenários hipotéticos
                                de planeamento de uma rede de escolas, para os quais pedimos que manifeste
                                as suas preferências. </p>

                                <a class="btn btn-info float-right" href="/page3" id='next' role="button">Próximo</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>

                </template>

                <template name="disperseInstructions">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">

                                <h1 class="text-center">Instruções para a próxima etapa</h1>

                                <p>Agora imagine um município com a mesma quantidade de alunos e de população, mas como um padrão de ocupação mais disperso.

                                    Quais são as suas preferências para uma rede deste tipo?
                                </p>


                                <a class="btn btn-info float-right" href="/page10" id='next' role="button">Próximo</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>

                </template>

<template name="thanks">

    <div class="container specialCenter">
        <div class="row text-center">
            <div class="col-12">
                <br><br><br>
                <h1><b>Obrigado</b> pela sua contribuição!</h1>
            </div>
        </div>
        <br><br><br>
        <div class="row text-center">
            <div class="col-12">
                <div class="not-found-image">
                    <img src="/img/thumbs.png"  width="140" height="140" alt="" />
                </div>

            </div>
        </div>
    </div>
      <div id="not-found">
        <div class="not-found-title">

        </div>
      </div>
</template>
