<template name="instructions">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2><span>R</span>ede de <span>E</span>scolas</h2>
                <p class="title">
                    Este questionário visa conhecer a sua opinião sobre os
                    critérios de planeamento da rede de escolas do primeiro
                    ciclo do ensino básico (1º CEB) e, particularmente, no equilíbrio
                    que se pretende entre <b>custos</b> e níveis de <b>acessibilidade</b>.

                </p>
                <p class="desc">
                    O questionário leva, em média, <b>5 minutos</b> a responder e foi
                    desenvolvido por uma equipa da Universidade de Aveiro, da
                    Unidade de Investigação em Governança, Competitividade e Políticas Públicas
                    <a href="https://www.ua.pt/pt/govcopp/" >GOVCOPP</a>.
                     

                    <br><br>
                    As respostas são <b>anónimas e confidenciais.</b>

                     O inquérito é divido em 2 partes: <br>
                    <ol>
                        <li>
                            Dados gerais;
                        </li>
                        <li>
                            Manifestação de preferências.
                        </li>
                    </ol>
                    Agradecemos a participação!
                </p>

                <h4>
                    Ao clicar em continuar,
                    eu declaro que li e compreendi
                    os termos acima e concordo em participar do inquérito.
                </h4>
                <br>
                <a class="btn btn-info" href="/merlin/page1" role="button">Continuar</a>

                <!-- START OF TERMS -->
                <hr>
                <small style="font-size:10px;line-height: -6;">
                Em linha com o Regulamento Geral de Proteção de Dados (RGPD)
                informamos que se assegura aos inquiridos a segurança sobre os
                dados fornecidos. O esclarecimento de dúvidas deverão ser endereçadas
                aos responsáveis pelo questionário: Jan Wolf (jwolf@ua.pt) - 234 372 461.
                Mais se informa que o direito a apresentar reclamação pela eventual
                violação de normas do RGPD poderá ser exercido junto da Comissão Nacional
                de Proteção de Dados em www.cnpd.pt  
                 </small>
                 <!-- END OF TERMS -->
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!-- <img src="images/signup-img.jpg" alt="" class="signup-img"> -->
</template>

<template name="imageInstructions">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <h1 class="text-center">Instruções para a próxima etapa</h1>

                <p>Imagine que está a ser planeada uma rede de escolas do 1º CEB
                    e são propostas diversas alternativas, com níveis de acessibilidade
                    e custos diferenciados (incluindo custos operacionais, de investimento
                     e de transporte escolar). </p>

                    <p>Que equilíbrio é que se pode estabelecer no longo prazo entre <b>custos</b> e
                        as <b>distâncias</b> a percorrer pelos alunos?</p>

                        <p>Para responder a esta questão, ser-lhe-ão colocados cenários hipotéticos
                             de planeamento de uma rede de escolas, para os quais pedimos
                              que manifeste as suas preferências. Este exercício é feito para
                               2 tipos de território: </p>
                               <ol>
                                   <li>Um território com uma distribuição da população mais compacta; </li>
                                   <li>Um território mais disperso. </li>
                               </ol>

                            <a class="btn btn-info float-right" href="/merlin/page3" id='next' role="button">Próximo</a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>

</template>

<template name="disperseInstructions">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <h1 class="text-center">Instruções para a próxima etapa</h1>

                            <p>Agora imagine um município com a mesma quantidade de alunos e de população, mas como um padrão de ocupação mais disperso.

                                Quais são as suas preferências para uma rede deste tipo?
                            </p>


                            <a class="btn btn-info float-right" href="/merlin/page10" id='next' role="button">Próximo</a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>

            </template>

            <template name="thanks">

                <div class="container specialCenter">
                    <div class="row text-center">
                        <div class="col-12">
                            <br><br><br>
                            <h1><b>Obrigado</b> pela sua contribuição!</h1>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row text-center">
                        <div class="col-12">
                            <div class="not-found-image">
                                <img src="img/thumbs.png"  width="140" height="140" alt="" />
                            </div>

                        </div>
                    </div>
                </div>
                <div id="not-found">
                    <div class="not-found-title">

                    </div>
                </div>
            </template>
